<ion-view view-title="Search for Best Matches">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Search your Best Match!</div>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="model.searchVal">
          <button class="button button-clear" ng-click="model.clearSearch()">X</button>
        </label>
        <button class="button button-block button-positive" ng-click="model.search()">Search</button>

        <div class="item item-body" ng-repeat="beer in model.beerArr">
          <ul class="list">
              <li class="item">
                <b>Name: </b>{{beer.name}}
              </li>
              <li class="item item-image">
                <img ng-src="{{beer.imageUrl}}">
              </li>
              <li class="item item-text-wrap">
                <b>Description: </b>{{beer.description}}
              </li>
              <li class="item">
                <b>Favour: </b>{{beer.flavorProfile || "N/A"}}
              </li>
              <li class="item">
                <b>ABV: </b>{{beer.abv.toFixed(2)}}
              </li>
          </ul>
        </div>

        <li class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
              [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
            </li>

      </div>
    </div>
  </ion-content>
</ion-view>
