<ion-view view-title="Your Badges">
  <ion-content>
    <img src="img/badges.png" style="width:360px;"/>
    <!-- <ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        <img ng-src="{{friend.face}}">
        <h2>{{friend.name}}</h2>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
