<ion-view view-title="Beer Scanner">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Scan your beer!</div>
      <div class="item item-body">
        <div>
          <button ng-click="startScan()" class="button button-block button-positive">
            Click me to start scanning!
          </button>
        </div>
      </div>
      <div class="item item-body" >
        <div ng-show="errorMsg">
          Error: {{errorMsg}}
        </div>
        <div ng-show="beerName">
          <ul class="list">
              <li class="item">
                <b>Name: </b>{{beerName}}
              </li>
              <li class="item item-image">
                <img ng-src="{{beerImg}}">
              </li>
              <li class="item item-text-wrap">
                <b>Description: </b>{{beerDescription}}
              </li>
              <li class="item">
                <b>Favour: </b>{{beerFavour}}
              </li>
              <li class="item">
                <b>ABV: </b>{{beerAbv}}
              </li>
          </ul>
        </div>
      </div>
      <div class="item item-body">
        <div>
          <!-- <img ng-src="{{beerImg}}"></img>{{beerName}} -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
