<ion-view view-title="Beer Handbook">
  <ion-content  ng-click="handbookDetail()">
    <img src="img/handbook.jpg" style="width:360px; z-index: -3;" ng-tap="handbookDetail()"/>
  </ion-content>
</ion-view>
