<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Scan" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" href="#/tab/scan">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Badges" icon-off="ion-grid" icon-on="ion-grid" href="#/tab/badges">
    <ion-nav-view name="tab-badges"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Handbook" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks-outline" href="#/tab/handbook">
    <ion-nav-view name="tab-handbook"></ion-nav-view>
  </ion-tab>


</ion-tabs>
