/* Empty. Add your own CSS if you like */

ion-nav-view[name="tab-search"] img,
ion-nav-view[name="tab-scan"] img {
    max-width: 80px;
}

ion-nav-view[name="tab-map"] ion-content {
background-color: #85b69e;
/*
    background-image: url("../img/map.png");
    background-position-y: -14px;
    background-size: 320px;
    background-attachment: scroll;
*/
}

ion-nav-view[name="tab-badges"] ion-content {
    background-color: #000;
    /*
    background-image: url("../img/badges.png");
    background-position-x: -12px;
    background-size: 378px;
    */
}

ion-nav-view[name="tab-handbook"] ion-content {
    background-color: #000;
    /*background-image: url("../img/handbook.jpg");*/
    /*background-position-x: 14px;*/
    /*background-size: 333px;*/
}

/*ion-nav-view[name="tab-handbook"] ion-content.clicked {*/
    /*background-image: url("../img/handbookdetail.jpg");*/
/*}*/
.beer-map-bg{
    display: block;
    height:1000px;
    width:1px;
}